src/test/temp.json
{
  "Comment": "Test Desc",
  "StartAt": "ChoiceBlock",
  "States": {
    "function oneeee": {
      "Type": "Task",
      "Resource": "lambdaArn",
      "Next": "function threee"
    },
    "function twoo": {
      "Type": "Task",
      "Resource": "lambdaArn",
      "Next": "function threee"
    },
    "function threee": {
      "Type": "Task",
      "Resource": "lambdaArn",
      "End": true
    },
    "ChoiceBlock": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.var",
            "StringEquals": "ew"
          },
          "Next": "function oneeee"
        },
        {
          "Not": {
            "Variable": "$.var",
            "NumericEquals": 25.0
          },
          "Next": "function oneeee"
        }
      ],
      "Default": "function twoo"
    }
  }
}
