output/aws/tmp.json
{
  "Comment": "Test Desc",
  "StartAt": "ChoiceBlock",
  "States": {
    "sequenceOne": {
      "Type": "Task",
      "Resource": "${sequenceOneArn}",
      "Next": "sequenceTwo"
    },
    "sequenceTwo": {
      "Type": "Task",
      "Resource": "${sequenceTwoArn}",
      "End": true
    },
    "par": {
      "Type": "Parallel",
      "End": true,
      "Branch": [
        {
          "StartAt": "parallelOne",
          "States": {
            "parallelOne": {
              "Type": "Task",
              "Resource": "${parallelOneArn}",
              "End": true
            }
          }
        },
        {
          "StartAt": "parallelTwo",
          "States": {
            "parallelTwo": {
              "Type": "Task",
              "Resource": "${parallelTwoArn}",
              "End": true
            }
          }
        }
      ]
    },
    "ChoiceBlock": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.type",
          "Next": "sequenceOne",
          "StringEquals": "seq"
        }
      ],
      "Default": "par"
    }
  }
}
